$primary-color: #1a90be;
$secondary-color: #dfdfdf;
$third-color: #009473;
$font: Roboto, "sans serif";

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.heading {
  background-color: $primary-color;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  img {
    height: 100%;
  }
  .heading--text {
    font-size: 2em;
    padding-left: 0.5em;
    text-align: center;
    color: white;
  }
}

.content {
  font-family: $font;
  text-align: center;
  background-color: $secondary-color;
  height: 83%;
  .content--title {
    font-size: 2em;
    padding: 0.5em;
    line-height: 1.5;
  }
  .content--subtitle {
    font-size: 1.5em;
    padding: 0.5em;
  }
  .content--text {
    padding: 1em;
    margin: 0 2em;
    text-align: justify;
    line-height: 1.5;
  }
  .button {
    box-shadow: 0px 10px 14px -7px #48679a;
    background-color: $third-color;
    border-radius: 8px;
    color: #ffffff;
    font-weight: bold;
    padding: 13px 32px;
    font-size: 1em;
  }
  .btn-init {
    margin-top: 2em;
    width: 80%;
  }
  .button-disabled {
    display: none;
  }
}

.footer {
  color: white;
  text-align: center;
  background-color: $primary-color;
  height: 7%;
  .footer--text {
    padding: 0.9em;
  }
}
