$primary-color: #1a90be;
$secondary-color: #dfdfdf;
$third-color: #009473;
$font: Roboto, "sans serif";

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.heading {
  background-color: $primary-color;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  img {
    height: 95%;
  }
  .heading--text {
    font-size: 2em;
    padding-left: 0.5em;
    text-align: center;
    color: white;
  }
}

.content {
  font-family: $font;
  text-align: center;
  background-color: $secondary-color;
  height: 83%;
  .content--title {
    font-size: 2em;
    padding-top: 0.5em;
    line-height: 1.5;
  }
  .content--subtitle {
    font-size: 2em;
    padding: 0.5em;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .content--text {
    padding: 1em;
    margin: 0 2em;
    text-align: justify;
    line-height: 1.5;
  }
  .content--description {
    padding: 1em;
    margin: 0 2em;
    text-align: justify;
    line-height: 1.5;
  }
  .button {
    box-shadow: 0px 10px 14px -7px #48679a;
    background-color: $third-color;
    border-radius: 8px;
    color: #ffffff;
    font-weight: bold;
    padding: 13px 32px;
    font-size: 1em;
  }
  .btn-init {
    width: 80%;
    margin-top: 2em;
  }
  .btn-question {
    margin: 3em 2em;
  }
  .content--privacy {
    position: absolute;
    bottom: 10%;
  }
  .content--questions {
    position: absolute;
    top: 28%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
.disabled {
  display: none;
}

.footer {
  color: white;
  text-align: center;
  background-color: $primary-color;
  height: 7%;
  .footer--text {
    padding: 0.9em;
  }
}

@media (min-width: 700px) {
  .content {
    .content--description {
      text-align: center;
    }
    .content--text {
      text-align: center;
      margin: auto;
      width: 100%;
    }
    .content--questions {
      position: absolute;
      top: 40%;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media (min-width: 1000px) {
  .content {
    .content--questions {
      top: 30%;
    }
  }
}
